@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

		<h3>Режим разработки</h3>
		<p>
			Если вы перейдете в среду <strong> Разработка </strong>, вы увидите более подробную информацию о возникшей ошибке.
</p>
		<p>
			<strong>Среда разработки не должна быть включена в развернутых приложениях</strong>, поскольку это может привести к тому, что конфиденциальная информация из исключений будет отображаться для конечных пользователей. Для локальной отладки среду разработки можно включить, установив для переменной <strong> ASPNETCORE_ENVIRONMENT </strong> значение <strong> Разработка </strong> и перезапустив приложение.
		</p>
